<h1 class='page-header'>Lodging information</h1>

<p>
  Our wedding location is River Bend in Lyons, Colorado, conveniently located between Boulder and Estes Park. Both are lovely places to stay.
</p>

<p>
  Estes Park is about 30 minutes to the northwest on the edge of the stunning Rocky Mountain National Park. Estes Park is a rustic small mountain town and surrounded by public lands. Estes is also home to the Stanley Motel, which inspired the movie <i>The Shining</i>.
</p>

<p>
  Boulder is about 25 minutes south of Lyons, between Lyons and Denver. Boulder is known for delicious food, great shopping, and street performers. It is located at the foot of the Flatirons, with easy access to various hiking trails.
</p>


<h3 class='page-header'>Estes Park Lodging</h3>
<div class="row">
  <div class="col-md-4">
    <%= link_to (image_tag 'https://s3-us-west-2.amazonaws.com/emily-and-luke/river-rock-cottages.jpg', class: 'img-responsive img-circle'), 'http://www.theriverrockcottages.com/', :target => '_blank' %>
    <p class='text-center'>
      <%= link_to 'The River Rock Cottages', 'http://www.theriverrockcottages.com/', :target => '_blank' %>
    </p>
    <p class='text-center'>
      No dogs, many cute cottages, kitchens. Amber stayed here recently and loved it (and was awakened by a bear)!
    </p>
  </div>
  <div class="col-md-4">
    <%= link_to (image_tag 'https://s3-us-west-2.amazonaws.com/emily-and-luke/stanley.jpg', class: 'img-responsive img-circle'), 'http://www.stanleyhotel.com/', :target => '_blank' %>
    <p class='text-center'>
      <%= link_to 'The Stanley Hotel', 'http://www.stanleyhotel.com/', :target => '_blank' %>
    </p>
    <p class='text-center'>
      A beautiful historic hotel... and the inspiration for the movie <i>The Shining</i>!
    </p>
  </div>
  <div class="col-md-4">
    <%= link_to (image_tag 'https://s3-us-west-2.amazonaws.com/emily-and-luke/lazy-r.jpg', class: 'img-responsive img-circle'), 'http://www.rockymtnresorts.com/estes-park-cabins-and-lodging/lazy-r-cottages', :target => '_blank' %>
    <p class='text-center'>
      <%= link_to 'Lazy R Cottages', 'http://www.rockymtnresorts.com/estes-park-cabins-and-lodging/lazy-r-cottages', :target => '_blank' %>
    </p>
    <p class='text-center'>
      Very close to Rocky Mountain National Park.
    </p>
  </div>
</div>

<h3 class='page-header'>Boulder Lodging</h3>
<div class="row">
  <div class="col-md-4">
    <%= link_to (image_tag 'https://s3-us-west-2.amazonaws.com/emily-and-luke/foot-of-the-mountain.jpg', class: 'img-responsive img-circle'), 'http://www.footofthemountainmotel.com/', :target => '_blank' %>
    <p class='text-center'>
      <%= link_to 'Foot of the Mountain Motel', 'http://www.footofthemountainmotel.com/', :target => '_blank' %>
    </p>
    <p class='text-center'>
      Dogs allowed! A short hike to Pearl Street (~20 minutes), right on Boulder Creek (fly-fishing! wading!).
    </p>
  </div>
  <div class="col-md-4">
    <%= link_to (image_tag 'https://s3-us-west-2.amazonaws.com/emily-and-luke/boulderado.jpg', class: 'img-responsive img-circle'), 'http://boulderado.com/', :target => '_blank' %>
    <p class='text-center'>
      <%= link_to 'Hotel Boulderado', 'http://boulderado.com/', :target => '_blank' %>
    </p>
    <p class='text-center'>
      Historic hotel in the heart of downtown Boulder. Walking distance to Pearl Street dining and shopping.
    </p>
  </div>
  <div class="col-md-4">
    <%= link_to (image_tag 'https://s3-us-west-2.amazonaws.com/emily-and-luke/st-julien-hotel-and-spa.jpg', class: 'img-responsive img-circle'), 'http://www.stjulien.com/', :target => '_blank' %>
    <p class='text-center'>
      <%= link_to 'St. Julien Hotel and Spa', 'http://www.stjulien.com/', :target => '_blank' %>
    </p>
    <p class='text-center'>
      In downtown Boulder. A lovely hotel, often outside restaurant / bar availablity for gatherings (as opposed to most places with outdoor seating). Walking distance to Pearl Street dining and shopping.
    </p>
  </div>
</div>
<div class="row">
    <div class="col-md-4">
      <%= link_to (image_tag 'https://s3-us-west-2.amazonaws.com/emily-and-luke/holiday-inn-express-boulder.jpeg', class: 'img-responsive img-circle'), 'http://www.ihg.com/holidayinnexpress/hotels/us/en/reservation', :target => '_blank' %>
    <p class='text-center'>
      <%= link_to 'Holiday In Express', 'http://www.ihg.com/holidayinnexpress/hotels/us/en/reservation', :target => '_blank' %>
    </p>
    <p class='text-center'>
      North Boulder. Closest drive to wedding location.
    </p>
    </div>
</div>
