<h1 class='page-header'>Welcome, <%= @user.full_name %></h1>
<div class='well'>
  <% if @user.attending == nil %>
    <h4>You have not submitted an RSVP</h4>
    <div class='row'>
      <ul class="list-group col-md-offset-2 col-md-6">
          <% @user.family_members.order(:id).each do |member| %>
            <li class="list-group-item">
              <span class="badge">not yet responded</span>
              <strong><%= member.full_name %></strong>
            </li>
          <% end %>
      </ul>
    </div>
    <div class='row'>
      <%= link_to "Répondez S'il Vous Plaît", edit_rsvp_path(@user.id), class: 'btn btn-info col-md-offset-2' %>
    </div>
  <% else %>
    <h4>Thank you for submitting an RSVP</h4>
    <div class='row'>
      <ul class="list-group col-md-offset-2 col-md-6">
          <% @user.family_members.order(:id).each do |member| %>
            <li class="list-group-item">
              <strong><%= member.full_name %></strong>
              <% if member.attending %>
                <span class="badge">will be attending</span>
                <div class='well'>
                  <div class='row'>
                    <div class='col-md-6'>
                      <% if member.dietary_restrictions && member.dietary_restrictions != '' %>
                        Dietary Restrictions: <%= member.dietary_restrictions %>
                      <% else %>
                        Dietary Restrictions: none
                      <% end %>
                    </div>
                    <%= link_to "Update #{member.first_name}'s dietary restrictions", rsvp_dietary_restrictions_path(member.id), class: 'btn btn-default col-md-6' %>
                  </div>
                </div>
              <% else %>
                <span class="badge">will not be attending</span>
              <% end %>
            </li>
          <% end %>
      </ul>
    </div>
      <% if @user.family.address %>
        <h4>Your family information</h4>
        <div class='row'>
          <ul class="list-group col-md-offset-2 col-sm-6">
            <li class="list-group-item">
              <%= @user.family.address %>
            </li>
            <li class="list-group-item">
              <%= @user.family.city %>, <%= @user.family.state %> <%= @user.family.zip %>
            </li>
          </ul>
        </div>
      <% end %>
    <div class='row'>
      <%= link_to "Update my RSVP", edit_rsvp_path(@user.id), class: 'btn btn-info col-md-offset-2' %>
    </div>
  <% end %>

</div>
