<div class="page-header">
  <% if current_user %>
    <div class="pull-right">
      <%= link_to 'Add Photo', new_photo_path, class: 'btn btn-info' %>
    </div>
  <% end %>
  <h1>Photos</h1>
</div>

<div class="row">
  <% @photos.each_with_index do |photo, index| %>
    <div class="col-md-4">
      <%= link_to '#', class: 'thumbnail' do %>
        <%= image_tag photo.img_url %>
        <div class="caption">
          <h3><%= photo.date.strftime("%B %Y") %></h3>
          <p>
            <%= photo.caption %>
          </p>
        </div>
      <% end %>
      <% if current_user %>
        <%= link_to 'Edit', edit_photo_path(photo), class: 'btn btn-info' %>
        <%= link_to 'Delete', photo_path(photo), method: :delete, class: 'btn btn-warning' %>
      <% end %>
    </div>
    <% if (index + 1) % 4 == 0 %>
</div>
<div class='row'>
    <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <%= image_tag "photos/green_negroni.jpg" %>
      <div class="caption">
        <h3>February 2011</h3>
        <p>For our first Valentine's day, Emily made Luke two lovely shirts.</p>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <%= image_tag "photos/secret_spot.jpg" %>
      <div class="caption">
        <h3>July 2013</h3>
        <p>Family trip to one of our favorite high altitude fishing spots.</p>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <%= image_tag "photos/blue_mesa.jpg" %>
      <div class="caption">
        <h3>Fall 2013</h3>
        <p>Fishing at Blue Mesa Reservoir</p>
      </div>
    </a>
  </div>
</div>
