<!DOCTYPE html>
<html>
<head>
  <title>EmilyAndLuke</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
<%= link_to (image_tag 'https://s3-us-west-2.amazonaws.com/emily-and-luke/emily-and-luke-website-header.jpg', class: 'img-responsive'), root_path %>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li><a href="/invitation">Our Wedding</a></li>
          <li><a href="/photos">Photos</a></li>
          <li><a href="/guests">Guests</a></li>
          <li><a href="/registries">Registry</a></li>
          <li><%= link_to 'Log out', login_path, method: :delete %></li>
        <% else %>
          <li><a href="/invitation">Our Wedding</a></li>
          <li><a href="/photos">Photos</a></li>
          <li><a href="/rsvps">RSVP</a></li>
          <li><a href="/registries">Registry</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class='container'>
  <% if flash.any? %>
    <% flash.each do |name, msg| -%>
      <% if name == 'notice' %>
        <div class="alert alert-success" role="alert">
      <% else %>
        <div class="alert alert-danger" role="alert">
      <% end %>
        <%= content_tag :div, msg, class: name %>
      </div>
    <% end %>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
